// colors

$dark-bg: #161819;
$white: #FFFFFF;
$dark-blue: #3C5062;
$purple: #777edc;
$purple-hover: #5e65ca;
$blue: #41a9c1;
$blue-hover: #3194ab;
$red: #e47272;
$red-hover: #d25656;
$light-gray-bg: #F1F1F1;
$green: #68ca66;
$green-hover: #4ac747;

$transition-time: 0.1s;
